.tickets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.ticket {
    width: 20cm;
    height: auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ticket-left {
    width: 57%;
    padding: 20px;
    background: #f0f0f0;
    position: relative;
}

.ticket-logo h2 {
    margin: 0;
    font-size: 24px;
    color: #d9534f;
}

.ticket-info p {
    margin: 8px 0;
    font-size: 14px;
}

.ticket-right {
    width: 43%;
    padding: 20px;
    background: #d9534f;
    color: white;
    text-align: left;
}

.ticket-right p {
    margin: 8px 0;
    font-size: 14px;
    color: white;
}

/* Airplane background */
.ticket-left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../public/airplane-3702676_1920.jpg") no-repeat center;
    background-size: contain;
    opacity: 0.2;
    z-index: 0;
}
